# Distribution
dist
out
build
node_modules
.idea

# Logs
*.log*
logs

# Environment
*.env*

# Misc
.DS_Store
.vscode

# app settings and logs
data/

# enviroment variables
.env
.env.prod
.env.dev

# dev files
test/
dev/
prod/

# we dont want databases on remote xD
**/*.sqlite
**/*.db
**/*.sqlite-journal
**/*.sqlite-shm
**/*.sqlite-wal

